@model Gama.GrupoAvengers.Blog.BlogLead

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Landing Page</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @*<link rel="stylesheet" type="text/css" href="css/landingPage.css">*@
    <link href="~/Content/landingPage.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid bg header">
    </div>
    <div class="container-fluid bg conteudo">
        <div class="row">
            <div class="col-sm-6 bg">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="bg logo">
                            <div class="logoPagueWay">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 bg tablet">
                    </div>
                </div>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <script>
                    (function (i, s, o, g, r, a, m) {
                        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date(); a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

                    ga('create', 'UA-99625813-1', 'auto');
                    ga('send', 'pageview');

                </script>

                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="bg formulario">
                                <div class="form-group ">
                                    @*@Html.TextBoxFor(model => model.Name)*@
                                    <h4>Preencha os dados para receber grátis o nosso e-book !</h4>
                                </div>
                                <div class="form-group ">
                                    @*<input type="text" name="Name" value="" placeholder="seu nome" class="form-control">*@
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @placeholder = "seu nome", @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group ">
                                    @*<input type="email" name="Lastname" value="" placeholder="e-mail" class="form-control">*@
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @placeholder = "e-mail", @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group ">
                                    @*<input type="text" name="Email" value="" placeholder="empresa" class="form-control">*@
                                    @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @placeholder = "empresa", @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group ">
                                    @*<input type="text" name="nome" value="" placeholder="Cargo(Opcional)" class="form-control">*@
                                    @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @placeholder = "Cargo(Opcional)", @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group ">
                                    <button class="btn btn-primary">Enviar</button>

                                    @*<input type="button" name="" value="Enviar" class="btn btn-primary">*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
</body>
</html>