@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "Home Page";
}


<h2>Artigos</h2>
<div class="article-list">
    <article>
        <h3>Como vender os produtos da sua loja pela internet?</h3>
        <p>Publicado 22 de abril as 23:55:03</p>
        <p>
            Vender seus produtos na web é uma maneira muito eficiente para quem deseja ampliar o seu negócio,
            principalmente para quem já possui uma loja física.
        </p>

        <p>
            Hoje em dia ficou muito fácil montar uma loja virtual para vender produtos. Mas qual seria
            a melhor e mais segura maneira para fazer isso?
        </p>
        <a href="@Url.Action("Post6", "BlogArticles")">Ler artigo completo</a>
    </article>
    <article>
        <h3>Por que muitas lojas físicas ainda não vendem online?</h3>
        <p>Publicado 28 de abril as 14:22:31</p>
        <p>
            Apesar do crescimento consistente do e-commerce no Brasil, com o país ocupando o quinto lugar
            do mundo em compras pela internet, ainda é grande o número de lojas que não possui uma plataforma
            de vendas online.
        </p>
        <p>
            Mas por que isto ocorre?
        </p>
        <a href="@Url.Action("Post2", "BlogArticles")">Ler artigo completo</a>
    </article>
    <article>
        <h3>A Evolução das Ferramentas de E-commerce</h3>
        <p>Publicado 27 de março as 09:45:12</p>
        <p>
            Com o avanço acelerado das transações online nos últimos anos, tem se verificado um aumento
            substancial de ferramentas de e-commerce. Surgem cada vez mais empresas com soluções sofisticadas,
            desde a oferta de plataformas prontas para transações online, até meios de pagamentos mais acessíveis
            para quem está começando a operar neste ambiente, com custos bastante reduzidos e soluções que
            reduzem a desistência de compra do consumidor, seja pela facilidade do processo no ato da compra,
            seja pelas alternativas e benefícios adicionais que são oferecidos ao cliente para concretizar a
            transação.
        </p>
        <a href="@Url.Action("Post3", "BlogArticles")">Ler artigo completo</a>
    </article>
    <article>
        <h3>Tendências do E-commerce</h3>
        <p>Publicado 14 de maio as 10:01:37</p>
        <p>
            Com o mercado online no sentido contrário da crise, apresentando um crescimento nominal de

            7,4% no ano de 2016 e com a renda média dos consumidores online tendo uma alta de 6% é

            de grande importância começar a ter olhos para o que está por vir em 2017.
        </p>
        <a href="@Url.Action("Post4", "BlogArticles")">Ler artigo completo</a>
    </article>
    <article>
        <h3>O Sucesso dos e-commerces em datas especiais</h3>
        <p>Publicado 16 de maio as 19:28:00</p>
        <p>
            O setor de de e-commerce tem suas características como por exemplo não possuem

            lojas físicas, não fecham, trabalham com custos menores e também é um dos setores que

            andou sentido contrário a crise e cresceu no último ano de 2016. Mesmo com suas diferenças

            em relação ao mercado de varejo convencional o setor de e-commerce vem ganhando força

            em datas sazonais como Black Friday, que acontece no dia 25 de novembro e o Dia do

            Consumidor, que acontece no dia 15 de março seguido também por datas como Dia das Mães

            e Dia dos Namorados que também são datas comemoradas em varejo convencional.
        </p>

        <a href="@Url.Action("Post5", "BlogArticles")">Ler artigo completo</a>
    </article>
    <article>
        <h3>Varejista: Você já pensou nos benefícios de vender em ambiente online?</h3>
        <p>Publicado 21 de março as 22:23:38</p>
        <p>
            No último relatório Web Shoppers, foi divulgado o crescimento do mercado de vendas online.
            Os números apontam para um crescimento nominal anual de 7,4% em 2016.
        </p>
        <p>
            Mesmo com a crise atual, o e-commerce continua a apresentar crescimento consistente ano após ano.
            Na contramão, o comércio varejista de lojas físicas teve um recuo de 10% em 2016, o que
            reforça a tendência de migração do ambiente offline para o online, bem como a redução
            substancial de custos. Isto se deve à diferença de preços praticados entre os dois ambientes.
        </p>
        <a href="@Url.Action("Post1", "BlogArticles")">Ler artigo completo</a>
    </article>

</div>




