@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IMAGE / VIDEO</h1>
    <p class="lead">Se cadastre e receba agora um e-book de como montar um e-commerce simples e com boas ferramentas</p>
    <p><a href="@Url.Action("Create", "BlogLeads")"
   target="_blank" class="btn btn-primary btn-lg">Receber o e-book agora!</a></p>
</div>

<div class="row-fluid">
    <div class="col-lg-7">
        <div class="row-fluid">
            <h2>A Evolução das Ferramentas de E-commerce</h2>
            <p>
                Com o avanço acelerado das transações online nos últimos anos, tem se verificado um aumento substancial de ferramentas de e-commerce...            </p>

            <input type="button" value="Saiba Mais" onclick="location.href='@Url.Action("Post3", "BlogLeads")'" />
        </div>
        <div class="row-fluid">
            <h2>Por que muitas lojas físicas ainda não vendem online?</h2>
            <p>
                Apesar do crescimento consistente do e-commerce no Brasil, com o país ocupando o quinto lugar do mundo em compras pela internet, ainda é grande o número de lojas que não possui uma plataforma de vendas online...            
            </p>
            <input type="button" value="Saiba Mais" onclick="location.href='@Url.Action("Post2", "BlogLeads")'" />
        </div>
        <div class="row-fluid">
            <h2>Varejista: Você já pensou nos benefícios de vender em ambiente online?</h2>
            <p>
                No último relatório Web Shoppers, foi divulgado o crescimento do mercado de vendas online. Os números apontam para um crescimento nominal...
            </p>

            <input type="button" value="Saiba Mais" onclick="location.href='@Url.Action("Post1", "BlogLeads")'" />
        </div>
    </div>
    <div class="col-lg-offset-1 col-lg-4">
        @Html.Partial("sidebar")      
    </div>

</div>